<p id="notice"><%= notice %></p>

<h1><%= @movie.title %></h1>

<table style = "float: left">
  <thead>
    <tr>
      <th colspan="2">캐스트</th>
    </tr>
  </thead>

  <tbody>
    <% @casts.each do |cast| %>
      <tr>
        <td><%= cast.person.id %> </td>
        <td><%= cast.person.name %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table style = "float: left">
  <thead>
    <tr>
      <th colspan="2">크루</th>
    </tr>
  </thead>

  <tbody>
    <% @crews.each do |crew| %>
      <tr>
        <td><%= crew.person.id %> </td>
        <td><%= crew.person.name %> </td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Back', movies_path %>
